@media screen and (max-width: 1400px) {
  header .cover .div-img img {
    width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  header .cover .div-img {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    position: static;
    font-size: 20px;
  }
  header .cover .div-img img {
    width: 310px;
  }
  header .cover .div-img p {
    width: 570px;
    margin: auto;
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 560px;
  }
}
@media screen and (max-width: 992px) {
  header .cover .div-img {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    position: static;
    font-size: 18px;
  }
  header .cover .div-img img {
    width: 300px;
  }
  header .cover .div-img p {
    width: 560px;
    margin: auto;
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 550px;
  }
  header .cover nav .right ul{
    display: none;
  }
  header .cover .hamburger-icon{
    display: block;
  }
  header .cover .hamburger-icon{
    cursor: pointer;
  }
  .cover #respansive-navigation{
    display: block;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -220px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
  }
  .cover #respansive-navigation ul{
    width: 100%;
  }
  .cover #respansive-navigation ul li{
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 10%;
  }
  .cover .back-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
  }
}
@media screen and (max-width: 768px) {
  header .cover .div-img img {
    width: 350px;
  }
  header .cover .div-img {
    width: 100%;
    text-align: center;
    padding-top: 3%;
    position: static;
    font-size: 18px;
  }
  header .cover .div-img img {
    width: 300px;
  }
  header .cover .div-img p {
    width: 560px;
    margin: auto;
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 550px;
  }
}
@media screen and (max-width: 576px) {
  .footer .lendi h1 {
    font-size: larger;
  }
  .footer .ertbat img {
    width: 180px;
  }
  
  header .cover nav .right ul li a {
    font-size: 20px;
  }
  header .cover nav .right {
    width: 70%;
  }
  header .cover nav .left {
    width: 30%;
  }
  header .cover nav .left ul li a {
    font-size: 20px;
  }
  header .cover .div-img p {
    width: 380px;
    margin: auto;
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 350px;
  }
  .footer {
    height: 130px;
  }
  .footer .ertbat img {
    width: 170px;
  }
}
@media screen and (max-width: 405px) {
  header .cover nav .left ul li h4{
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header .cover nav .right ul li a {
    font-size: 18px;
  }
  header .cover nav .right {
    width: 70%;
  }
  header .cover nav .left {
    width: 30%;
  }
  header .cover nav .left ul li a {
    font-size: 18px;
  }
  header .cover .div-img p {
    width: 360px;
    margin: auto;
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 350px;
  }
  .footer {
    height: 130px;
  }
  .footer .ertbat img {
    width: 160px;
  }
}
@media screen and (max-width: 370px) {
  .cover .hamburger-icon img{
    width: 40px;
    margin: 0 5%;
  }
  header{
    height: 140vh;
  }
  header .cover .div-img img {
    width: 260px;
  }
  header .cover .div-img p {
    width: 290px;
    margin: auto;
    font-weight: bold;
    
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 280px;
  }
  header .cover nav .right ul li a {
    font-size: 14px;
  }
  header .cover nav .right {
    width: 75%;
  }
  header .cover nav .left {
    width: 25%;
  }
  header .cover nav .left ul li a {
    font-size: 16px;
  }

}
@media screen and (max-width: 300px) {
  header{
    height: 155vh;
  }
  header .cover .div-img img {
    width: 240px;
  }
  header .cover .div-img p {
    width: 270px;
    margin: auto;
  }
  header .cover .div-img h1 {
    color: #fff;
  }
  header .cover .div-img hr {
    width: 260px;
  }
  header .cover nav .right ul li a {
    font-size: 13px;
  }
  header .cover nav .right {
    width: 75%;
  }
  header .cover nav .left {
    width: 25%;
  }
  header .cover nav .left ul li a {
    font-size: 13px;
  }

}
@media screen and (max-width: 260px) {
  header{
    height: 155vh;
  }
  
  header .cover .div-img img {
    width: 230px;
  }
  header .cover nav .right ul li a {
    font-size: 11.3px;
    
  }
  header .cover nav .right {
    width: 75%;
  }
  header .cover nav .left {
    width: 25%;
  }
  header .cover nav .left ul li a {
    font-size: 17px;
  }

  
  .footer .lendi h1 {
    font-size: large;
  }
  header .cover .div-img {
    width: 100%;
    text-align: center;
    padding-top: 20%;
    position: static;
  }

}
@media screen and (max-height: 660px) {
  header{
    height: 100%;
  }
}