@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir.eot") format("eot"),
    url("../fonts/vazir.ttf") format("truetype"),
    url("../fonts/vazir.woff") format("woff"),
    url("../fonts/vazir.woff2") format("woff2");
}
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: 'vazir';
}
ul li a{
  text-decoration: none;
  color: #fff;
}
ul li{
  list-style-type: none;
}
.hamburger-icon{
  width: 20%;
  display: none;
  
}
.hamburger-icon img{
  width: 50px;
  margin: 0 10%;
}
#respansive-navigation{
  display: none;
  
}
#respansive-navigation ul{
  display: inline;
  
}
#respansive-navigation ul li{
  margin: 10% 10%;
  
}
header {
  width: 100%;
  height: 123vh;
  position: relative;
  background-image: url('../image/02-rice-shalikoban-blog.jpg');
  background-size: cover;
}
header .cover nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.37);
  z-index: 1;
}
header .cover nav .right ul {
  display: flex;
  justify-content: right;
}
header .cover nav .right ul li {
  list-style-type: none;
  margin: 0 10px;
}
header .cover nav .right ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
header .cover nav .right ul li a:hover {
  color: green;
}
header .cover nav .left ul{
  display: flex;
  justify-content: left;
  list-style-type: none;
  align-items: center;
  
}
header .cover nav .left ul li {
  margin: 0 10px;
  color: #fff;
}
header .cover nav .left ul li a {
  font-size: 20px;
  color: #fff;
}
header .cover .sharifi-rice {
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 0;
  display: flex;
}

header .cover .sharifi-rice .right {
  width: 50%;
  text-align: right;
}
header .cover .sharifi-rice .right .text {
  top: 20px;
  text-align: center;
}
header .cover .sharifi-rice .right img {
  width: 50%;
}
header .cover .sharifi-rice .left {
  width: 50%;
  background-image: url('../image/header.jpg');
  background-size: cover;
}
header .cover .div-img{
  width: 100%;
  text-align: center;
  padding-top: 3%;
  position: static;
  font-size: 21px;
}
header .cover .div-img img{
  width: 300px;
}
header .cover .div-img p{
  width: 560px;
  margin: auto;
  color: #fff;
}
header .cover .div-img h1{
  color: #fff;
}
header .cover .div-img h2{
  color: #fff;
}
header .cover .div-img hr{
  width: 550px;
}
header .cover{
    
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
}
.footer{
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
  width: 100%;
  height: 120px;
  text-align: center;
}

.footer .lendi{
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 49);
  text-align: center;
}
.footer .lendi h1{
  padding-top: 20px;
}

